name: Storybook Tests

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-storybook:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup
        uses: ./.github/actions/setup
      - name: Install browsers
        run: npx playwright install chromium --with-deps
      - name: Generate compodoc documentation
        run: npm run compodoc
      - name: Run tests
        run: npm run test-storybook
